/* Common rules */
body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}

p {
  font-size: 18px;
}

.primary-green {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
}

.secondary-white {
  background-color: #fff;
  color: #2c3e50;
  text-align: center;
}

.divider {
  padding: 10px 0 25px;
}

hr.half-rule {
  text-align: left;
  width: 120px;
  display: inline-block;
  border-top: 4px solid #fff;
  border-radius: 5px;
  vertical-align: middle;
}

.glyphicon.glyphicon-star {
  font-size: 40px;
  margin: 0 10px;
  vertical-align: middle;
}

/*********** Inizio Header ***********/

/* Navbar */
.navbar {
  background-color: #2c3e50;
  border-radius: 0;
  border-color: #2c3e50;
  padding: 8px;
  margin-bottom: 0;
}

.navbar-header .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.navbar-header .navbar-brand:hover {
  color: #fff;
}

.navbar-header button.navbar-toggle.collapsed {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  background-color: #1abc9c;
  border-radius: 8px;
  border: none;
  position:relative;
  padding: 12px 14px;
}

button.navbar-toggle.collapsed > span {
  display: inline-block;
  margin-right: 15px;
}

#icon-bar-container {
  display: inline-block;
  position:absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

button.navbar-toggle.collapsed .icon-bar {
  width: 12px;
  margin: 2px 0;
  background-color: #fff;
}

.navbar-header button.navbar-toggle.collapsed:hover {
  filter: brightness(0.7);
}

.collapse.navbar-collapse ul.navbar-right li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.collapse.navbar-collapse ul.navbar-right li > a:hover {
  color: #1abc9c;
}

/* Jumbotron */
#jumbotron .container {
  padding-top: 100px;
  padding-bottom: 80px;
}

#jumbotron img {
  width: 245px;
}

#jumbotron h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  padding: 15px 15px 0;
  line-height: 45px;
  margin-top: 30px;
}
/*********** Fine Header ***********/

/*********** Inizio Main ***********/
main .container {
  padding-top: 70px;
  padding-bottom: 40px;
}

/* First section: Portfolio */
section#portfolio hr.half-rule {
  border-top: 4px solid #212529;
}

section#portfolio img {
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: opacity 0.5s ease-in-out;
}

section#portfolio img:hover {
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}

/* Second section: About */
main section#about p {
 text-align: left;
 line-height: 30px;
 padding: 0 20px 20px;
}

section#about button.btn.btn-default {
  background-color: #1abc9c;
  border: 1px solid #fff;
  padding: 20px;
  color: #fff;
}

/* Third section: Contacts */
main section#contacts {

}
/*********** Fine Main ***********/


/*********** Inizio Footer ***********/
/*********** Fine Footer ***********/

/* Responsive - Breakpoint 768px */
@media screen and (min-width: 768px) {

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  main section#portfolio img {
    max-width: 320px;
  }
}

/* Responsive - Breakpoint 992px */
@media screen and (min-width: 992px) {

  h2 {
    font-size: 50px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar {
    padding: 26px;
  }

  .navbar .navbar-brand {
    font-size: 28px;
  }

  #jumbotron h1 {
    font-size: 65px;
    margin-top: 40px;
  }

  #jumbotron p {
    font-size: 22px;
  }

  main section#portfolio img {
    max-width: 280px;
  }
}

/* Responsive - Breakpoint 992px */
@media screen and (min-width: 1200px) {
  main section#portfolio img {
    max-width: 340px;
  }
}
